html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  background: linear-gradient(60deg, #40bbd1 0%, #58d2e5 71%, #6fe9f9 100%);
}

.header {
  padding: 35px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  max-width: 150px;
}
.header .logo img {
  max-width: 100%;
}
.header .logo a {
  outline: none;
}
.header .menu {
  padding: 10px 0px;
}
.header .menu .nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
}
.header .menu .nav-menu li {
  display: block;
  padding: 0px;
}
.header .menu .nav-menu li a {
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  padding: 5px 15px;
  font-weight: normal;
}
.header .menu .nav-menu li a.active, .header .menu .nav-menu li a:hover {
  text-stroke: 0.5px #ffffff;
  -webkit-text-stroke: 0.5px #ffffff;
}

.container-enter {
  padding: 30px 20px 40px;
}
.container-enter .recapcha {
  padding-top: 35px;
  padding-bottom: 35px;
}
.container-enter .body-enter {
  max-width: 780px;
  margin: auto;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 18px 35.1px 3.9px rgba(0, 0, 0, 0.13);
  padding: 40px 25px;
}
.container-enter .body-enter .header-enter .title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.container-enter .body-enter .header-enter .social .text {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
}
.container-enter .body-enter .header-enter .social .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-enter .body-enter .header-enter .social .social-btns .social-btn {
  padding: 0px 20px;
}
.container-enter .body-enter .header-enter .social .social-btns .social-btn a {
  text-decoration: none;
  outline: none;
}
.container-enter .body-enter .header-enter .social .social-btns .social-btn .google,
.container-enter .body-enter .header-enter .social .social-btns .social-btn .facebook {
  min-width: 200px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 30px;
}
.container-enter .body-enter .header-enter .social .social-btns .social-btn .google {
  border: 1px solid #cccccc;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.container-enter .body-enter .header-enter .social .social-btns .social-btn .google::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon/google.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
}
.container-enter .body-enter .header-enter .social .social-btns .social-btn .facebook {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background: #2e4587;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.container-enter .body-enter .header-enter .social .social-btns .social-btn .facebook::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
}
.container-enter .body-enter .form-enter {
  padding: 40px 15px;
}
.container-enter .body-enter .form-enter .form-group {
  padding-bottom: 15px;
}
.container-enter .body-enter .form-enter .form-group.form-input label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-enter .body-enter .form-enter .form-group.form-input label .text-label {
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding-right: 35px;
}
.container-enter .body-enter .form-enter .form-group.form-input label .input-cont input {
  border: 0px;
  background: #ffffff;
  font-size: 18px;
  width: 580px;
  max-width: 100%;
  border-radius: 30px;
  box-shadow: 0px 18px 35.1px 3.9px rgba(0, 0, 0, 0.05);
  padding: 10px 25px;
  height: 55px;
}
.container-enter .body-enter .form-enter .form-group.form-input label .input-cont input:focus {
  outline: none;
}
.container-enter .body-enter .form-enter .form-group.form-check label {
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.container-enter .body-enter .form-enter .form-group.form-check label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-enter .body-enter .form-enter .form-group.form-check label .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #40bbd1;
}
.container-enter .body-enter .form-enter .form-group.form-check label:hover input ~ .checkmark {
  background-color: #ccc;
}
.container-enter .body-enter .form-enter .form-group.form-check label input:checked ~ .checkmark {
  background: linear-gradient(-80deg, #40bbd1 0%, #6fe9f9 100%);
}
.container-enter .body-enter .form-enter .form-submit {
  text-align: center;
}
.container-enter .body-enter .form-enter .form-submit .btn-submit {
  background-image: linear-gradient(-80deg, #40bbd1 0%, #6fe9f9 100%);
  box-shadow: 0px 7px 18px 2px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-width: 100%;
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.container-enter .body-enter .form-enter .form-submit .btn-submit:hover {
  background-image: linear-gradient(80deg, #40bbd1 0%, #6fe9f9 100%);
}
.container-enter .body-enter .footer-enter .text {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
}
.container-enter .body-enter .footer-enter a {
  color: #4ec8dc;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
}

.container-enter .body-enter .form-enter .form-group.form-check {
  padding-top: 15px;
}

.container-register.container-enter .body-enter .form-enter .form-group.form-input label .input-cont input {
  width: 460px;
}
.container-register.container-enter .body-enter .footer-enter .text.text-bottom {
  text-align: left;
  padding-bottom: 35px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.container-register.container-enter .body-enter .footer-enter .text.text-bold {
  font-weight: 600;
}
.container-register.container-enter .body-enter .btn-exit {
  background: #ffffff;
  box-shadow: 0px 7px 18px 2px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-width: 100%;
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 18px;
  color: #000000;
  transition: background 0.3s ease-out;
  cursor: pointer;
  margin-left: 45px;
}
.container-register.container-enter .body-enter .btn-exit:hover {
  background: #40bbd1;
  color: #ffffff;
}

.popup-box {
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}
.popup-box .popup-content {
  margin: auto;
  width: 780px;
  max-width: 100%;
  height: auto;
  padding: 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #000;
  font-size: 24px;
  text-align: center;
  line-height: 1.667;
  color: #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-box .popup-content .close-popup {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 15px;
  height: 15px;
  background: url(../img/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 1600px) {
  .container-enter .body-enter,
.container-enter .body-enter .form-enter,
.container-enter .body-enter .header-enter .social .social-btns {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header {
    padding: 20px 40px;
  }

  .popup-box .popup-content {
    padding: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .container-enter .body-enter,
.container-enter .body-enter .form-enter,
.container-enter .body-enter .header-enter .social .social-btns {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header {
    padding: 20px 20px;
  }

  .header .menu .nav-menu li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .container-enter {
    padding: 20px 30px;
  }

  .container-enter .body-enter .form-enter .form-group.form-input label .text-label {
    width: 20%;
    min-width: 100px;
  }

  .container-enter .body-enter .form-enter .form-group.form-input label .input-cont {
    max-width: 100%;
    width: 80%;
  }
  .container-enter .body-enter .form-enter .form-group.form-input label .input-cont input {
    width: 100%;
  }

  .container-register.container-enter .body-enter .form-enter .form-group.form-input label .input-cont input {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .popup-box .popup-content {
    padding: 30px;
    padding-top: 50px;
    left: 30px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 60px);
  }

  .header {
    padding: 15px;
  }

  .header .menu .nav-menu li a {
    font-size: 14px;
    padding: 5px 10px;
  }

  .container-enter .body-enter .header-enter .social .social-btns .social-btn .google,
.container-enter .body-enter .header-enter .social .social-btns .social-btn .facebook {
    font-size: 14px;
    min-width: 150px;
  }

  .container-enter .body-enter .header-enter .social .social-btns .social-btn {
    padding: 0px 10px;
  }

  .header .logo {
    max-width: 100px;
  }

  .container-register.container-enter .body-enter .btn-exit {
    margin-left: 15px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 10px;
  }

  .popup-box .popup-content {
    left: 15px;
    right: 15px;
    padding: 15px;
    padding-top: 50px;
    width: calc(100% - 30px);
    font-size: 16px;
  }

  .header .menu .nav-menu li a {
    font-size: 12px;
    padding: 5px;
  }

  .container-enter {
    padding: 10px 15px;
  }

  .container-enter .body-enter .header-enter .social .social-btns .social-btn .google,
.container-enter .body-enter .header-enter .social .social-btns .social-btn .facebook {
    min-width: 100px;
    font-size: 12px;
  }

  .container-enter .body-enter .header-enter .social .social-btns .social-btn .facebook::before,
.container-enter .body-enter .header-enter .social .social-btns .social-btn .google::before {
    margin-right: 5px;
  }

  .container-enter .body-enter, .container-enter .body-enter .form-enter,
.container-enter .body-enter .header-enter .social .social-btns {
    padding: 20px 10px;
  }

  .container-register.container-enter .body-enter .btn-exit,
.container-register.container-enter .body-enter .form-enter .form-submit .btn-submit {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 375px) {
  .container-enter .body-enter .form-enter .form-group.form-input label {
    flex-wrap: wrap;
  }

  .container-enter .body-enter .form-enter .form-group.form-input label .text-label {
    width: 100%;
    padding-bottom: 15px;
  }

  .container-enter .body-enter .form-enter .form-group.form-input label .input-cont {
    width: 100%;
  }

  .header .logo {
    max-width: 50px;
  }

  .header .menu .nav-menu li a {
    font-size: 10px;
  }
}